body{
    font-family: 'Happy Monkey', cursive;
    text-align: center;
    background: darkgray;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;


}

.history{
    margin: 10px;
    text-align: justify;
}

h1, h2, h3, h4, p {
    text-shadow: 0px 0px 1px black;
}

.economy{
    display: flex;
}

.economy1{
    text-align: justify;
}

.shops, .vendors, .transport, .service_provider{
    text-align: justify;
    margin: 4px 10px;
}

.secondary, .primary{
    display: flex;
}

.bhigh{
    margin: 10px;
    text-align: justify;
    
}

.bprimary{
    margin: 10px;
    text-align: justify;
}